{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FUN Taxi Dash</title>
    <link rel="stylesheet" type="text/css" href="{% static 'discover/styles/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'discover/styles/trip.css' %}">
</head>
<body>
<header class="header">
    {% if trip %}
        <div class="left">
            <div class="organizer label">{{ trip.organizer }}</div>
            <div class="meetup-point">
                <div class="locpin"></div>
                <div class="location">{{ trip.meetup_pt }}</div>
            </div>
        </div>
        <div>
            <form action="{% url 'discover:leave' %}" method="post">
                {% csrf_token %}
                <button id="butLeave" class="headerButton" aria-label="Leave">Leave</button>
                <input type="hidden" id="hdnTripID" name="trip_id" value="{{ trip.id }}">
            </form>
        </div>
    {% else %}
        <div id="taxidashIcon"></div>
        <h1 class="header_title">Taxi Dash</h1>
    {% endif %}
</header>

<main class="main">
    {% if error_message %}
        <p class="error"><strong>{{ error_message }}</strong></p>
    {% else %}
        {% if passengers %}
            <div class="list-msg">{{ passengers|length }}/4 Passengers:</div>
            {% for passenger in passengers %}
                <div class="card cardTemplate passenger">{{ passenger.name }}</div>
            {% endfor %}

            <div>
                <form id="detail-actions" action="{% url 'discover:enroute' %}" method="post">
                    {% csrf_token %}
                    <a id="butTaxiList" href="{% url 'discover:taxiList' %}">Call a taxi</a>
                    <button type="submit" id="butEnroute" class="button preferred">Start trip</button>
                    <input type="hidden" id="hdnTripID" name="trip_id" value="{{ trip.id }}">
                </form>
            </div>
        {% else %}
            <div class="list-msg">There are 0 passengers.</div>
        {% endif %}
    {% endif %}
</main>

{% if error_message %}
    {% if redirect == -1 %}
        <script>
            window.setTimeout(function () {
                window.location.href = "/discover/";
            }, 3000);
        </script>
    {% else %}
        <script>
            console.log({{ redirect }});
            console.log({{ trip }});
            window.setTimeout(function () {
                window.location.href = "/discover/" + "{{ redirect }}" + "/detail/";
            }, 3000);
        </script>
    {% endif %}
{% endif %}
</body>
</html>